/* Piezas */

.label1 {
  color: white;
}

.filter {
  width: 100px;
}

.filtro-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.piecitas {
  display: flex;
  align-items: center;
  flex-wrap: wrap;

  .item-container {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    margin: 20px;
    padding: 25px;

    .items {
      height: 200px;
      width: 200px;
    }

    .button-pedir {
      margin-top: 20px;
      text-decoration: none;
      color: aliceblue;
    }
  }
}
